//Aqui se liga al Modelo 1 Y
@{
    ViewBag.Title = "ViewModel1";
    // Aqui Ira lo referente a la View 1.1 Asociado a NUEVO POST
    // Aqui Ira lo referente a la View 1.2 Asociado a EDITAR POST
    // Aqui Ira lo referente a la View 1.3 Asociado a ELIMINAR POST
}
 //aqui van los organizadores a Controlador 1 y Base de Datos1


<h2>ViewModel1</h2>

